@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn {
  font-size: 0.8rem;
  font-weight: 700;
}

.btn i {
  vertical-align: text-top;
}

.bg-holder {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

